[alias]
	whoops = commit --amend --no-edit
	p = push
	pl = pull
	f = fetch
	r = rebase
	c = commit
	b = branch
	co = checkout
	a = add .
	s = status
	l = log
	stale = !git cut && git clean-stale
	cut = !git remote prune origin
	clean-stale = !git fetch -p && git branch -vv | grep gone | sed 's/^[*+] //' | awk '{print $1}' | xargs git branch -D 2>/dev/null || true
[core]
	editor = nvim
[wt]
	copyignored = true
	copyuntracked = true
	copymodified = true
[sequence]
	editor = nvim
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
