# 
#   ██████╗ ██╗████████╗     ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗ 
#  ██╔════╝ ██║╚══██╔══╝    ██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝ 
#  ██║  ███╗██║   ██║       ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗
#  ██║   ██║██║   ██║       ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║
#  ╚██████╔╝██║   ██║       ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝
#   ╚═════╝ ╚═╝   ╚═╝        ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝ 
# 
#                        git general config & aliases                                            

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[alias]
  # shortcuts
  whoops = commit --amend --no-edit

  # Clean stale branches
  stale = !git cut && git clean-stale
  cut = !git remote prune origin
  clean-stale = "!git fetch -p && for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}'); do git branch -D $branch; done"

[diff]
  tool = vimdiff
  algorithm = patience

[user]
  name = Robin Gagnon
  email = me@reobin.dev
	signingkey = 7A0979C0D3566B17

[difftool]
  prompt = false

[commit]
  gpgsign = true
[gpg]
  program = gpg
[pager]
  branch = false
[blame]
  date = human
