[core]
	editor = nvim
	excludesfile = /Users/reobin/.gitignore_global

[alias]
	cut = !git remote prune origin
	b = !gitin branch
	d = difftool
	s = !gitin status
	p = push
	c = commit
	co = checkout
	pl = pull

[diff]
	tool = vimdiff
	algorithm = patience
[user]
	name = Robin Gagnon
	email = robin.gagnon@cortexmedia.ca
[difftool]
	prompt = false
