# 
#   ██████╗ ██╗████████╗     ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗ 
#  ██╔════╝ ██║╚══██╔══╝    ██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝ 
#  ██║  ███╗██║   ██║       ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗
#  ██║   ██║██║   ██║       ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║
#  ╚██████╔╝██║   ██║       ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝
#   ╚═════╝ ╚═╝   ╚═╝        ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝ 
# 
#                        git general config & aliases                                            

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[alias]
  # shortcuts
  br = branch
  d = difftool
  p = push
  c = commit
  co = checkout
  pl = pull

  # Clean stale branches
  cut = !git remote prune origin

  # gitin
  b = !gitin branch
  s = !gitin status
  l = !gitin log

[diff]
  tool = vimdiff
  algorithm = patience

[user]
  name = Robin Gagnon
  email = robin.gagnon@cortexmedia.ca

[difftool]
  prompt = false

