[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=ChatGPT
Exec=/home/reobin/.local/bin/firefox-webapp https://chatgpt.com/
Terminal=false
Type=Application
Icon=/home/reobin/.local/share/applications/icons/ChatGPT.png
StartupNotify=true
