@import "../omarchy/current/theme/waybar.css";

window#waybar {
  background-color: transparent;
}

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @background;
  padding: 0 8px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 0;
  border-radius: 8px;
}

.modules-left {
  margin-left: 8px;
  margin-right: 4px;
}

.modules-right {
  margin-right: 8px;
  margin-left: 4px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  opacity: 0.4;
}

#workspaces button.empty {
  opacity: 0.2;
}

#workspaces button.active {
  font-weight: 900;
  font-size: 14px;
  color: @color11;
  opacity: 1;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,

#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}


#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-openvpn {
  margin-right: 17px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}
