@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  opacity: 0.4;
}

#workspaces button.active {
  opacity: 1;
  color: white;
}

#workspaces button.active.empty {
  opacity: 1;
  color: white;
}

#workspaces button.special {
  opacity: 0.45;
}

#workspaces button.special.active {
  opacity: 1;
  color: white;
}

#custom-omarchy {
  min-width: 12px;
  margin: 0 10px;
  padding: 0;
}

#tray,
#bluetooth,
#custom-openvpn,
#custom-tailscale,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#language {
  min-width: 12px;
  margin: 0 10px;
  padding: 0;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#clock,
#custom-clock {
  margin: 0 5px;
  padding: 0;
}

#custom-update {
  min-width: 12px;
  font-size: 10px;
  margin: 0 5px;
  padding: 0;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding: 0;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 5px;
  padding: 0;
}

#custom-voxtype.recording {
  color: #a55555;
}

